.page-news {
  background: #f5f5f4;
  padding-bottom: 120px;
}
.page-news .index-t {
  color: #0C273C;
  width: 278px;
  padding-top: 92px;
  margin-bottom: 36px;
}
.page-news .index-t div:nth-child(1) {
  font-size: 32px;
}
.page-news .index-t div:nth-child(2) {
  font-size: 26px;
  position: relative;
  display: inline-block;
  margin-top: 10px;
}
.page-news .index-t div:nth-child(2)::after {
  position: absolute;
  top: -5px;
  right: 0;
  content: "";
  width: 100%;
  height: 0;
  border: 2px solid #0C273C;
}
.page-news .news-content {
  background-image: url('../img/news/n1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0px 20px;
}
.page-news .news-content .content-top {
  height: 128px;
  color: #fff;
  font-size: 24px;
}
.page-news .news-content .content-top img {
  margin-right: 20px;
}
.page-news .news-content .content-mid .mid-left .left-top {
  margin-bottom: 76px;
}
.page-news .news-content .content-mid .mid-left .left-top img {
  width: 100%;
}
.page-news .news-content .content-mid .mid-left .left-list .list-item {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  margin-bottom: 30px;
}
.page-news .news-content .content-mid .mid-left .left-list .list-item .item-left {
  width: 100%;
  height: 134px;
}
.page-news .news-content .content-mid .mid-left .left-list .list-item .item-left img {
  height: 100%;
  width: 100%;
}
.page-news .news-content .content-mid .mid-left .left-list .list-item .item-right .top-one {
  width: 70%;
}
.page-news .news-content .content-mid .mid-left .left-list .list-item .item-right .top-one span {
  font-size: 20px;
}
.page-news .news-content .content-mid .mid-left .left-list .list-item .item-right .top-one .span {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 8px solid #5AABFE;
  border-bottom: 5px solid transparent;
  position: relative;
  left: -10px;
}
.page-news .news-content .content-mid .mid-left .left-list .list-item .item-right .top-one .title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.page-news .news-content .content-mid .mid-left .left-list .list-item .item-right .time {
  width: 100px;
  font-size: 20px;
}
.page-news .news-content .content-mid .mid-left .left-list .list-item .item-right .right-content {
  margin-top: 10px;
  font-size: 16px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.page-news .news-content .content-mid .mid-right {
  background: #C6C8CA;
}
.page-news .news-content .content-mid .mid-right .top {
  font-size: 24px;
  letter-spacing: 10px;
  margin-top: 10px;
}
.page-news .news-content .content-mid .mid-right .content {
  margin: 20px 0px;
  cursor: pointer;
}
.page-news .news-content .content-mid .mid-right .content .content-left {
  padding: 0;
  width: 100%;
  margin-right: 10px;
}
.page-news .news-content .content-mid .mid-right .content .content-left img {
  width: 100%;
}
.page-news .news-content .content-mid .mid-right .content .content-right {
  font-size: 14px;
  padding: 0;
}
.page-news .news-content .content-mid .mid-right .content .content-right .right-one {
  color: #FF5A5A;
  margin-bottom: 20px;
}
.page-news .news-content .content-mid .mid-right .bottom {
  padding: 0px 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.page-news .news-content .content-mid .mid-right .bottom span {
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.page-news .news-content .content-mid .mid-right .bottom .span {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 8px solid #5AABFE;
  border-bottom: 5px solid transparent;
  position: relative;
  left: -10px;
}
@media (min-width: 992px) {
  .right-one {
    margin-bottom: 0px !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .right-one {
    margin-bottom: 0px !important;
    font-size: 12px !important;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
  }
  .right-two {
    font-size: 12px !important;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .item-right .title,
  .item-right .time {
    font-size: 16px !important;
  }
  .item-right .right-content {
    font-size: 14px !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .right-one {
    margin-bottom: 0px !important;
    font-size: 12px !important;
  }
  .item-right .title,
  .item-right .time {
    font-size: 14px !important;
  }
  .item-right .right-content {
    font-size: 12px !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 576px) {
  .index-t {
    padding-top: 0px !important;
    margin-bottom: 0px !important;
  }
}
